@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

body,
html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
}


body {
  height: 100%;
  background-color: #00005C;
  background-size: 100% 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;

}

body {

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;



}

li {
  color: white;
}

.search-input {
  position: relative;
}

.search-input input {
  background-color: #27292a;
  height: 46px;
  border-radius: 23px;
  border: none;
  color: #666;
  font-size: 14px;
  padding: 0px 15px 0px 45px;
}

.search-input i {
  position: absolute;
  color: #666;
  left: 20px;
  top: 16px;
  width: 18px;
  height: 18px;
  font-size: 16px;
}


.banner-home {
  background-image: url(/img/bg.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 380px;
  border-radius: 23px;
  padding: 80px 60px;
}

.banner-home h6 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 25px;
}

.banner-home h4 {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.banner-home h4 em {
  font-style: normal;
  color: #ec6090;
}

/* Rekomendasi */
.card-body {
  background-color: transparent;

}

/* register */

.rounded-t-5 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
  .rounded-tr-lg-0 {
    border-top-right-radius: 0;
  }

  .rounded-bl-lg-5 {
    border-bottom-left-radius: 0.5rem;
  }
}

/* rekomendasi game */

.rekomendasi-game {
  margin-top: 60px;
  padding: 30px;
  background-image: url(/img/bg.jpg);
  border-radius: 23px;
}

.rekomendasi-game .item {
  background-image: url(/img/bg.jpg);
  padding: 30px 15px;
  border-radius: 23px;
  margin-bottom: 30px;
}

.rekomendasi-game .item .item {
  padding: 0px;
  border-radius: 0px;
  background-color: transparent;
  margin-bottom: 0px;
}

.rekomendasi-game .item img {
  border-radius: 23px;
}

.rekomendasi-game .item h4 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline-block;
}

.rekomendasi-game .item span {
  color: #F0F8FF;
  display: block;
  margin-top: 7px;
  font-weight: 400;
}

.rekomendasi-game .item ul {
  float: right;
  margin-top: 20px;
}

.rekomendasi-game .item ul li {
  text-align: right;
  color: #fff;
  font-size: 14px;
}

.rekomendasi-game .item ul li:first-child i {
  color: yellow;
}

.rekomendasi-game .item ul li:last-child i {
  color: #ec6090;
}

.rekomendasi-game .main-button {
  text-align: center;
  margin-bottom: -53px;
}

.main-button a {
  font-size: 14px;
  color: #fff;
  background-color: #663399;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-button a:hover {
  background-color: #fff;
  color: #663399;
}

.main-border-button a {
  font-size: 14px;
  color: #663399;
  background-color: transparent;
  border: 1px solid #663399;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-border-button a:hover {
  border-color: #fff;
  background-color: #fff;
  color: #663399;
}

/* Login */

.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: url(/img/bg.jpg);
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}