@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
}



body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
  font-size: 16px;
  background-image: url(/img/bg.jpg);
  background-size: cover;
  backdrop-filter: blur(30px);
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  color: white;
}

.banner-home {
  background-image: url(/img/bg.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 380px;
  border-radius: 23px;
  padding: 80px 60px;
}

.banner-home h6 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 25px;
}

.banner-home h4 {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.banner-home h4 em {
  font-style: normal;
  color: #9932CC;
}

/* Rekomendasi */
.card-body {
  background-color: transparent;

}

/*login */

.login {
  width: 500px;
}

form {
  width: 250px;
  margin: 60px auto;
}


p {
  text-align: center;
  margin: 10px;
}

.left img {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

form label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
}

input {
  width: 100%;
  margin: 2px;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid gray;
}

button {
  border: none;
  outline: none;
  padding: 8px;
  width: 252px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  background: #9932CC;
}

button:hover {
  background: #800080;
}


/* @media (max-width: 880px) {
  .container {
    width: 100%;
    max-width: 750px;
    margin-left: 20px;
    margin-right: 20px;
  }

  form {
    width: 300px;
    margin: 20px auto;
  }

  .login {
    width: 400px;
    padding: 20px;
  }

  button {
    width: 100%;
  }

  .left img {
    width: 80%;
    height: 80%;
  }
} */